<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head> 
<body>
        <nav class="navbar navbar-light bg-light navbar fixed-top">
            <div class="container-fluid">
                {% if user.is_authenticated %}
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                    <a class="navbar-brand" href="{% url 'index' %}">AWWWARDS</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Home</a></li>
                        <li><a class="nav-link" href="#">About</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'profile'%}"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
                        <li><a href="/accounts/password/change"><span class="glyphicon glyphicon-info-sign"></span>Change Password</a></li>
                        <li><a href="/accounts/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
                        {% else %}
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search_results'%}">
                        <input name="project" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                      </form>
                </div>
            </div>
            {% endif %}
        </nav>
      
</body>   
</html