{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-md-4">
<h1 class="text-center">{{profiles.user.username}}</h1>
<div class="card-text">


{% endif %}
</div>
</div>

<div class="col_lg-7 col-md-7 col-sm-7 col-xs-7">
<h1 class="prof"> {{request.user.username}}</h1>
<p>Bio: {{request.user.profile.bio}}</p>
<p>Email:{{request.user.profile.email}}</p>
<p><a href="{% url 'update_Profile' %}">Edit Profile</a></p>
<div>

</div>
</div>
</div>
</div>

<div class="container">
<div class="card">
</div>
</div>
{% endblock %}